body{
  font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;";
  margin: 0;
  border: 0;
  padding: 0;
}
.btn.btn-primary {
  font-size: 12px;
  background-color: #bc091e;
  border-color: #bc091e;
  border-radius: 0;
  color: rgb(255, 255, 255);
  padding: 10px 40px;
  text-transform: uppercase;
}
.btn.btn-primary:hover{
  color: white;
  background-color: #bc091e;
}
.navbar {
    background: rgb(254, 254, 254);
    height: 70px;
    border-radius: 0;
    border: 0;
    margin: 0 !important;
}
.navbar-brand img{
  width: 100%;
}
.navbar-menu{
  font-size: 16px;
  color: rgb(102, 102, 102);
}

.navbar-menu ul li a{
  color: rgb(102, 102, 102);
  top: 6px;
}
.nav-item:hover, .nav-item:active {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-color: #ff0000;
    background-color: #ffffff !important;
}
a.nav-menu:hover, a.nav-menu:active {
    background-color: #ffffff !important;
}

.container-first{
    background-repeat: no-repeat;
}
.main-content{
  text-align: center;
}
.carousel-caption{
  margin: 0;
  text-align: center;
}
#heading-main {
    bottom: 12cm;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    left: 15%;
    position: absolute;
}
#heading-sub {
    bottom: 11cm;
    color: rgb(255, 255, 255);
    font-size: 25px;
    left: 32%;
    line-height: 0.768;
    position: absolute;
}
#explore {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 0;
    border-width: 2px;
    bottom: 9cm;
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 38%;
    padding: 8px 48px;
    position: absolute;
}
#input-group{
  text-align: center;
  top: 20%;
  padding: 0; 
}
.search_container {
  display: inline-block;
}
#search-btn{
  font-size: 14px;
  padding: 12px 32px;
  background-color: #bc091e;
  border-color: #bc091e;
  
}

#search-wrap {
  margin-top: -130px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.container-second{
  background-color: rgb(51, 51, 51);
  margin-bottom: 0;
}
.container-second p{
  color: rgb(255, 252, 252);
  font-variant: small-caps;
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}
#featured-property{
  position: all;
  margin: 0;
  border: 0;

}
#featured-property a{
  text-decoration: none;
  background-color: rgb(195, 195, 195, 0.4);
}
#featured-property .featured_inner_text {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-variant: small-caps;
  left: 0;
  line-height: 1.167;
  position: absolute;
  text-align: center;
  top: 33%;
  width: 100%;
  z-index: 9;
}

#featured-property > div {
  padding: 0;
}
#featured-property > img{
  width: 100%;
  height: 100%;
}
.container-third{
  background-color: rgb(249, 249, 249);
  margin-bottom: 0;
}
.container-third p{
  color: rgb(51, 51, 51);
  font-variant: small-caps;
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}
#hot-listing > .row{
  margin-left: 0;
  margin-right: -10px;
}
#hot-listing{
  background-color: rgb(249, 249, 249);
  border: 0;
  margin: 0;
  text-align: center;
}
#hot-listing-one{
  background-image: url(img/hot_listing_one.png);
  background-size: 97% 100%;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 10px;
}
#hot-listing-two{
  background-image: url(img/hot_listing_two.png);
  background-size: 97% 100%;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 10px;
}
#hot-listing-three{
  background-image: url(img/hot_listing_three.png);
  background-size: 97% 100%;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 10px;
}
#hot-listing-four{
  background-image: url(img/hot_listing_four.png);
  background-size: 97% 100%;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 10px;
}
#hot-listing .hot_link_inner {
  
  color: rgb(255, 255, 255);
  font-size: 13px;
  left: 0;
  position: absolute;
  text-align: center;
  top: -38px;
  width: 100%;
  overflow: hidden;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); 
}
.hot_listing_inner:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.product_item_image > img {
  width: 100%;
}
#hot-listing .hot_listing_inner:hover .hot_link_inner{
    top:40%;
    
}


.container-fourth{
  background-color: rgb(249, 249, 249);
  text-align: center;

}
.container-fourth button{
  font-variant: small-caps;
  border-radius: 0;
  padding: 10px 30px;
  background-color: #bc091e;
  border-color: #bc091e;
  margin: 53px 0 55px 0;
  
}
.subscribing{
  background-color: #f6f6f6;
}
.subcrib_btn_one{
  text-align: right;
  top: 190px;
  right: 160px;
  position: relative;
}
.local-knowledge-head{
  font-size: 40px;
  font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
  color: rgb(102, 102, 102);
  line-height: 0.625;
  text-align: right;
  position: relative;
  top: 140px;
  right: 160px;
}
.local-knowledge{
  font-size: 20px;
  color: rgb(102, 102, 102);
  line-height: 1.25;
  text-align: right;
  position: relative;
  top: 170px;
  right: 160px;
}
#subcrib_txt_one{
  padding: 0;
}
#subcrib_img_one{
  margin: 0;
  border: 0;
  padding: 0;
}
#subcrib_img_one > img{
  width: 100%;
  height: 100%;
}
#subcrib_img_two{
  position: all;
  margin: 0;
  border: 0;
  padding: 0;
}
#subcrib_img_two .subcribe_img_txt {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
    left: 0;
    line-height: 1.167;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 9;
}
#subcrib_img_two > div {
  padding: 0;
}
#subcrib_img_two > img{
  width: 100%;
  height: 100%;
}
#subcrib_submition{
  padding: 0;
  text-align: center;
}
.email_input_area{
  padding-top: 125px;
}
#email{
  border-radius: 0;
  width: 60%;
  text-align: left;
  font-size: 14px;
  color: #000000;
  border-color: #bc091e;
  padding: 15px 0 15px 25px;
}
.checkbox_main{
  padding-top: 15px;
}
#subcrib_btn{
  padding-top: 20px;
  padding-bottom: 30px;
}
#subcrib_btn_inner{
  width: 20%;
  font-size: 14px;
  font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
  border-color: #bc091e;
  border-radius: 0;
  background-color: #bc091e;
}
.main_map_area{
  padding: 0 !important;
}
.main_map_area img{
  width: 100%;
  height: 100%;
}
#sidebar-main-map{
  background-color: rgb(239, 239, 239);
  padding-bottom: 0;
}
.promise{
  font-size: 12px;
  font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
  text-align: center;
}
.footer-section{
  background-color: rgb(230, 233, 237);
  padding:20px;
}
#footer-content h5{
  font-weight: bold;
  font-size: 17px;
}
#footer-content{
  text-align: left;
  margin: 0 !important;
  padding-left: 30px;
}
#footer-content p{
  font-size: 14px;
  text-align: justify;
  text-align-last: left;
  -moz-text-align-last: left;
}
#footer-content>.col-lg-2 {
  padding-top: 60px;
    width: 19%;
    padding-bottom: 40px;
}


.footer-section h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
.social-icons i {
  background-color: rgb(255, 255, 255);
  height: 35px;
  line-height: 35px;
  margin: 3px;
  text-align: center;
  width: 35px;
  border-radius: 50%

}
.social-icons{
  padding-top: 18px;
    text-align: center;
}
.fa-facebook, .fa-instagram, .fa-twitter, .fa-linkedin, .fa-youtube-play, .fa-google-plus, .fa-pinterest-p{
  color: rgb(51, 51, 51);
}
.footer-details{
  padding-top: 15px;
  padding-bottom: 18px;
  background-color: red;
}
.footer-end{
  background-color: rgb(51, 51, 51); 
}
.footer-final{
  text-align: center;
  padding-top: 45px;
}
.footer-final a ,span{
  color: rgb(255, 255, 255);
  padding: 5px;
  text-decoration: none;
}
.footer-final-content{
  padding: 20px 105px 0 105px;
  
}
.footer-final-content p{
  color: rgb(255, 255, 255);
  line-height: 2.2;
  font-size: 10px;
  text-align: center;

}
.footer-final-para{
  color: rgb(255, 255, 255);
  padding: 25px 105px 0 105px;
  font-size: 10px;
  text-align: center;

}
.footer-final-para p{
  font-size: 10px;
  color: rgb(255, 255, 255);
}
.footer-copy-rights p{
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  font-weight: bold;
  margin: 0;
}

#featured-property img {
  width: 100%;
}
.featured_image_wrapper::before {
  background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.margin-none{
  margin: 0;
}
#hot-listing img {
  width: 100%;
}
.hot_listing_wrapper {
  padding-left: 0;
  padding-right: 10px;
  
}
.hot_listing_inner{
  position: relative;
  overflow:hidden;
}
.hot_listing_inner .btn_wrap {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: bottom 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
}
.hot_listing_inner:hover .btn_wrap{
    bottom: 40px;
}
.hide_block{
  display:none;
}


#toolbar{
    background-color: rgb(102, 102, 102);
    position: relative;
    font-size: 16px;
    color: #ffffff;
    padding: 12px 0 10px 0;
}
.tools{
    font-size: 13px;
    display: inline-flex;
    position: relative;
}

#slider_icon{
    padding-left: 20px;
    padding-right: 10px;
}
#list_view_icon{
    padding-right: 5px;
}
#grid_view_icon{
    padding-left: 5px;
    padding-right: 5px;
}
#location_icon{
    padding-left: 5px;
}
#properties-count{
    text-align: center;
    padding-top: 10px;
    
}
#sort-btn {
    background: rgb(102, 102, 102);
    border-radius: 0;
    font-size: 13px;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
    padding-left: 14px;
    padding-right: 0;
    color: #ffffff;
    margin-left: 16px;
}
#sort-btn span{
    padding-left: 55px;
    padding-right: 10px;
    color: #ffffff !important;
}
.path_bar{
    background-color: #bc091e;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;   
    position: relative;
}
.path_bar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.btn.btn-default.content_view_btn{
    color: #ffffff;
    background-color: #bc091e;
    border-color: #bc091e;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 17px;
}
.btn.btn-default.content_contact_btn{
    color: #bc091e;
    border-color: #bc091e;
    background-color: #faf9f9;
    text-transform: uppercase;
    padding: 8px 12px;        
}
#sidebar.filterBy {
    box-sizing: border-box;
    color: #666666;
    padding: 0;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 5;
}
#sidebar {
    margin: 0;
    width: 100%;
}
#sidebar-main{
       background-color: rgb(239, 239, 239);
}
.filterBy {
    font-size: 13px;
}
#sidebar.filterBy .ins {
    padding: 20px 15px 20px 15px;
}
.txt{
  font-family: "Open Sans",sans-serif;
}
.txt p{
    font-size: 12px;
    line-height: 1.495;
    padding: 15px 12px 0 15px;
    margin: 0;
}
.txt p span{
    color: rgb(51, 51, 51);
}
.tbl{
    font-size: 12px;
    line-height: 1.495;
    padding: 16px 12px 15px 15px;
    margin: 0;
}

.filterBy h2 {
    font-size: 21px;
    font-weight: bold;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
    line-height: 0.732;
    text-align: center;
    padding: 10px 0 20px 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.filterBy label {
    clear: both;
    display: block;
    font-size: 14px;
    padding: 0;
}
.filterBy .inpt {
    background: #ffffff none repeat scroll 0 0;
    margin-bottom: 20px;
}
.filterBy .inpt, .filterBy .btn {
    float: none;
    width: 100%;
}
.slct_dd {
    float: left;
    min-width: 170px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.slct {
    width: 155px;
}
.slct {
    cursor: pointer;
}
.inpt {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    color: #666666;
    float: left;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
    font-size: 14px;
    min-height: 40px;
    padding: 8px 12px;
    position: relative;
    z-index: 1;
}
a, [type="submit"], .inpt, .rdo, .rdo span, .chk, .chk span, figure img, a::after, a::before {
    transition: all 0.1s ease 0s;
}
.slct b::after {
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
    content: "";
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 8px;
    z-index: 1;
}
#wrapper .default {
    color: #333;
}
#wrapper .default {
    color: #999999;
}
.slct b {
    box-sizing: border-box;
    color: #666666;
    display: block;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
    padding: 0 15px 0 0;
    position: relative;
    text-overflow: ellipsis;
    text-transform: none;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}


.filterBy .inpt .dd {
    border: medium none;
    left: 0;
    top: 40px;
}
.filterBy .inpt.act, .filterBy .slct_dd .dd, .inpt .slct {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
}
.slct_dd .dd {
    background-color: rgb(255, 255, 255);
    border: 1px solid #666666;
    color: #666;
    cursor: default;
    font-size: 14px;
    font-weight: normal;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 37px;
    transition: opacity 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 200;
}
#wrapper .slct_dd ul {
    display: block;
    padding: 0;
}
#wrapper .slct_dd li::before {
    display: none;
}
#wrapper .slct_dd li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    padding: 0;
}
.clear::after {
    clear: both;
    content: "";
    display: table;
}
.filterBy .slct_sm.price_on_filter {
    width: 48%;
}


.filterBy .slct_sm {
    clear: none;
    float: left;
    min-width: 1px;
    width: 45%;
}
.filterBy .marg_b2 {
    margin-bottom: 5px;
}
.filterBy .group {
    margin-bottom: 20px;
}
.filterBy fieldset:last-child {
    margin-bottom: 0;
}
.filterBy fieldset {
    float: none;
    margin-bottom: 20px;
    padding-top: 10px;
}
#fitting_checkbox{
    padding-left: 10px;
}
#fitting_checkbox_options{
    padding-left: 10px;
}
.property_feature_selector{
    background-color: #ffffff;
    border-color: #ffffff;
}

.filterBy .chks {
    margin-bottom: 7px;
}

.chk {
    display: none;
}
.chk + label::after {
    clear: both;
    content: "";
    display: table;
}
.filterBy .chks label {
    font-size: 13px;
}
.chk + label {
    cursor: pointer;
    display: inline-block;
    padding: 1px 0 0;
    vertical-align: top;
}
.filterBy .chk + label span {
    background-color: #ffffff;
    border-color: transparent;
}
.chk + label span {
    background: rgb(255, 255, 255) url("../images/check_tick.png") no-repeat scroll 3px -100px / 15px 11px;
    border: 1px solid #666666;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 20px;
    margin: -3px 8px 0 0;
    transition: border 0.3s ease 0s;
    vertical-align: middle;
    width: 20px;
}
#sidebar.filterBy .btns {
    padding-bottom: 20px;
    text-transform: uppercase;
}
#sidebar.filterBy .btns .btn, #sirMobile .btnLong, #sirMobile .btnSend, #subscribe .btn, .btn, .btnBlue, .btnDarkBlue, .contactForm .btnSend, .item .actions .btn, .job u, .pages .ins {
    font-weight: 400;
}
#sidebar.filterBy .btns .btn {
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 25px;
    min-width: 1px;
    width: 48%;
}
#sidebar.filterBy .btns .btn, #sirMobile .btnLong, #sirMobile .btnSend, #subscribe .btn, .btn, .btnBlue, .btnDarkBlue, .contactForm .btnSend, .item .actions .btn, .job u, .pages .ins {
    font-weight: 400;
}
#sidebar.filterBy .btns .btn, #sirMobile .btnLong, #sirMobile .btnSend, #subscribe .btn, .btn, .btnBlue, .btnDarkBlue, .contactForm .btnSend, .item .actions .btn, .job u, .pages .ins {
    font-weight: 400;
}
.slidebar_sub_heading{
    font-size: 14px;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
    font-weight: 200;
}
.checkbox_content{
    font-weight: 200;
    font-size: 14px;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
}
.inpt.slct.slct_dd.slct_sm.price_on_filter.filterMin{
    margin-right: 10px;
}
.inpt b{
    font-weight: 200;
    font-size: 14px;
    font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif";
}
.btnBlue {
    background-color: #324b72;
}
.btn {
    border: 1px solid ;
    border-radius: 0 !important;
    text-decoration: none;
}

.job b, a, a.footerLinks {
    text-decoration: none;
}

#sidebar.filterBy .btns .btn:nth-child(2) {
    float: right;
}
.main-content-btns .btn:nth-child(2) {
    float: right;
}
#sidebar a.showMore {
    margin: 2px 0 0 30px;
}
a.showMore {
    display: inline-block;
    font-weight: 100;
    padding-right: 15px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: #666666;    
}
#properyFilter{
    border-color: #bc091e;
    background-color: #bc091e;
    color: #ffffff;
    font-size: 14px !important;
}
#propertycancel{
    border-color: #bc091e;
    color: #bc091e;
}

a.showMore::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #bc091e #bc091e currentcolor currentcolor;
    border-image: none;
    border-style: solid solid none none;
    border-width: 2px 2px medium medium;
    bottom: 0;
    content: "";
    display: block;
    height: 7px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
    width: 7px;
    z-index: 2;
}
a.showMore.act::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #bc091e #bc091e currentcolor currentcolor;
    border-image: none;
    border-style: solid solid none none;
    border-width: 2px 2px medium medium;
    bottom: 0;
    content: "";
    display: block;
    height: 7px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 5px;
    transform: rotate(315deg);
    transition: all 0.3s ease 0s;
    width: 7px;
    z-index: 2;
}
.showMore{
    color: rgb(51, 51, 51);
    font-size: 14px;
    left: 50px;
}
.slct_act, .slct.act, .slct_dd.act {
  z-index: 200;
}
#sirMobile .slct_dd .dd .scroll, #content .slct_dd .dd .scroll, .pp .slct_dd .dd .scroll {
  max-height: 140px;
  overflow: auto;
  width: 100%;
}
.slct_dd ul {
  display: block;
  padding: 0;
}
.slct_dd.act {
  overflow: visible;
}
.slct_dd.act .dd {
  opacity: 1;
  visibility: visible;
}
#wrapper #sidebar.filterBy {
  box-sizing: border-box;
  color: #666666;
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 5;
}
#wrapper #sidebar.filterBy .ins::after {
  clear: both;
  content: "";
  display: table;
}
#wrapper #sidebar.filterBy .ins {
  padding: 20px 10px 5px;
}
.slct_dd li span, .slct_dd li a {
  box-sizing: border-box;
  color: #666;
  display: block;
  margin: 0;
  min-width: 100%;
  padding: 4px 12px 5px;
  width: 100%;
}
#wrapper .slct_dd li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  display: block;
  padding: 0;
}
#wrapper .slct_dd li::before {
  display: none;
}
#wrapper .slct_dd ul {
  display: block;
  padding: 0;
}
.slct_dd li a:hover, .slct_dd li .act {
  background-color: rgba(0, 0, 0, 0.1);
  color: #666;
  text-decoration:none;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.main_content_area{
  padding-top: 27px;
}
.main-content-btns {
    padding: 15px;
}
.main_content_area .mob_list_view_inner {
  padding-left: 11px;
  padding-right: 11px;
}
.product_item {
  background-color: #faf9f9;
  margin-bottom: 26px;
}
.main_content_area.list_view > .row .col-lg-4 {
  width: 100%;
}
.list_view .product_item_image {
  float: left;
  width: 40%;
}
.list_view .product_item .product_item_content {
  float: left;
  padding-left: 35px;
  width: 60%;
}
.list_view .product_item {
  float: left;
  width: 100%;
}
.list_view .main-content-btns .btn:nth-child(2) {
  float: none;
}
.show_list{
  display:none;
}
.list_view .show_list{
  display: block;
}
.list_view .hide_list{
  display:none;
}
.list_view .product_item .txt > p {
  padding-left: 0;
}
.list_view .main-content-btns {
  padding-left: 0;
  padding-bottom: 0;
}
.product_item_desc {
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 0;
}
.list_view .product_item{
  margin-bottom:40px;
}
.list_view .product_item{
  background-color:white;
}
.list_view .product_item .tbl{
  padding-left: 0;
}
.map_view .view_gird_list {
  display:none;
}
.map_view .map_container {
  display:block;
}
.map_container{
  display:none;
}
.map_container img{
  width: 100%;
}
#subcrib_img_two::before {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#Filter_Cancel{
  color: #bc091e;
  border-color: #bc091e;
}
#sort_dropdown > .dd ul li{
  list-style: none;
}
#sort_dropdown > .dd{
  border: 0;
  top: 39px;
}
.banner_dropdown {
  margin-right: 5px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-shadow: none;
  width: 280px;
}
.banner_dropdown > .dd ul li{
  list-style: none;
  border: none;
}
.banner_dropdown > .dd{
  border: 0;
  top: 46px;
}
#sirMobile .slct_dd .dd .scroll, #content .slct_dd .dd .scroll, .pp .slct_dd .dd .scroll {
    max-height: 140px;
    overflow: auto;
    width: 100%;
}
.mCustomScrollBox {
    direction: ltr;
    height: 100%;
    max-width: 100%;
    outline: 0 none;
    overflow: hidden;
    position: relative;
}

.mCSB_container {
    height: auto;
    overflow: hidden;
    width: auto;
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    transition: opacity 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}
.mCSB_scrollTools {
    bottom: 0;
    height: auto;
    left: auto;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}
.mCSB_scrollTools .mCSB_draggerContainer {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    height: 30px;
    width: 100%;
    z-index: 1;
}
.slct_dd .dd .mCSB_scrollTools .mCSB_draggerRail, .scroll .mCSB_scrollTools .mCSB_draggerRail, #sidebar.wMap .mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 7px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail, .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    width: 4px;
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.4);
}
.mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 16px;
    height: 100%;
    margin: 0 auto;
    width: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
}
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
    width: 6px;
}
.slct_dd .dd .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .scroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, #sidebar.wMap .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 7px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(255, 255, 255, 0.75);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 16px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 4px;
}

.chk:checked + label span {
    background-color: #ffffff;
    background-position: 2px center;
    border-color: #324b72;
}
.footer-section .footer_content_mob {
  width: 20%;
}

.sort_dropdown{
  background-color: rgb(102, 102, 102);
  border: 1px solid #fff;
  top: -2px;
}
.sort_dropdown b{
  color: #ffffff;  
}

.inpt.slct.slct_dd.sort_dropdown b::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    content: "";
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 8px;
    z-index: 1;
}
.inpt.slct.slct_dd.sort_dropdown{
  min-width: 0;
  font-size: 13px;
  width: 160px;
}
.inpt.slct.slct_dd.sort_dropdown > .dd{
  border-color: #ffffff;
}
.similar_properties_container{
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: rgb(102, 102, 102);
  font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;";
  padding: 30PX;
}
.detail_map_container img{
  width: 100%;
}
.property_location_container{
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: rgb(102, 102, 102);
  font-family: "Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;";
  padding: 30PX
}
.tbl.tbl_description{
  padding: 0;
  margin: 0;
}
.detail_promise{
  color: #bc091e;
}
.form_input small{
    color: #999999;
}
.form_heading{
  background-color: #bc091e;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px;
}
.detail_form{
  text-align: center;
  background-color: rgb(235, 235, 235);
  padding-bottom: 35px;
}
.description_heading{
  text-transform: capitalize;
  font-size: 22px;
}
.description_heading b{
  font-size: 18px;
}
.form_input input{
  margin-top: 32px;
  padding: 10px;
  width: 80%;
  border: #fff none 1px;
  left: 44px;
}
.mail_form_input1 input {
    color: rgb(102, 102, 102);
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: none;
    border: #ffffff none 1px;
    left: 84px;
}
.mail_form_input1 textarea {
    text-decoration: none;
    overflow: hidden;
    width: 70%;
    font-style: italic;
    resize: none;
    color: rgb(153, 153, 153);
    padding: 10px;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    border: #ffffff none 1px;
    left: 84px;
}
.mail_form_input1 > .btn {
    color: white;
    background-color: #bc091e;
    border: #bc091e none 1px;
    margin-bottom: 15px;
    top: 81%;
    position: absolute;
    left: 45%;
    padding: 9px 20px;
}
.detail_terms1 {
    position: absolute;
    left: 33%;
    top: 89%;
}
.form_input textarea{
  text-decoration: none;
  overflow: hidden;
  width: 80%;
  font-style: italic;
  margin-top: 32px;
  border: #fff none 1px;
  resize: none;
  color: rgb(153, 153, 153);
  padding: 10px;
  min-height: 200px;
  left: 44px;
  clear: both;
}
.form_input > .btn{
  color: #ffffff;
  background-color: #bc091e;
  border: #bc091e none 1px;
  padding: 10px 30px;
  margin-top: 32px;
}
.form_input > .detail_terms{
  margin-top: 32px; 
}
.submit_form{
  margin-top: -128px;
  z-index: 1;
}
.description_heading > span {
  float: right;
  color: rgb(51, 51, 51);
  padding: 0;
}
.description_para{
  font-size: 14px;
  padding-top: 20px;
  text-align: justify;
  text-align-last: left;
  padding-right: 30px;
}
.tbl.tbl_description > .cell{
  font-size: 16px;
}
.description_sub_heading{
  font-size: 16px;
  padding-top: 5px;
}
.description_content{
   color: #333333;
   padding-top: 20px;
   padding-left: 50px;
}





.actionsBottom {
    background-color: #242424;
    color: #fff;
    font-size: 16px;
}



.actionsBottom ul {
  margin-bottom: 0;
    width: 100%;
}
.actionsBottom li {
    display: table-cell;
    text-align: center;
}

.actionsBottom a::before {
    background: #878787 none repeat scroll 0 0;
    bottom: 15px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
    z-index: 2;
}
a, [type="submit"], .inpt, .rdo, .rdo span, .chk, .chk span, figure img, a::after, a::before {
    transition: all 0.3s ease 0s;
}
a, [type="submit"], .inpt, .rdo, .rdo span, .chk, .chk span, figure img, a::after, a::before {
    transition: all 0.3s ease 0s;
}
.actionsBottom a {
    color: #fff;
    display: block;
    padding: 15px 0 15px;
    position: relative;
    z-index: 1;
}
.actionsBottom button{
  background-color: #242424;
  border-color: #242424;  
  padding: 0;
  font-size: 16px;
}
.actionsBottom .icon_photos span {
    background: rgba(0, 0, 0, 0) url("../img/photo_icon.png") no-repeat scroll left center / 31px 25px;
    padding-left: 39px;
}
.actionsBottom a span {
    box-sizing: border-box;
    display: inline-block;
    min-height: 25px;
    padding-top: 8px;
}

.actionsBottom .icon_videos span {
    background: rgba(0, 0, 0, 0) url("../img/video_icon.png") no-repeat scroll left center / 40px 25px;
    padding-left: 47px;
}

.actionsBottom .icon_share span {
    background: rgba(0, 0, 0, 0) url("../img/Share_icon.png") no-repeat scroll left center / 25px 25px;
    padding-left: 34px;
}

.actionsBottom .icon_email span {
    background: rgba(0, 0, 0, 0) url("../img/email_icon.png") no-repeat scroll left center / 35px 25px;
    padding-left: 42px;
}

.actionsBottom li:last-child a::before {
    display: none;
}
#email_popup{
  background-color: transparent;
  box-shadow: rgb(0, 0, 0);
}

#mail_popup{
  background-color: rgb(235, 235, 235);
}
#mail_popup_head{
  border: 0;
}
.mail_form_input input{
  color: rgb(102, 102, 102);
  padding: 10px;
  width: 70%;
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
  border: #ffffff none 1px;
}
.mail_form_input textarea{
  text-decoration: none;
  overflow: hidden;
  width: 70%;
  font-style: italic;;
  resize: none;
  color: rgb(153, 153, 153);
  padding: 10px;
  min-height: 150px;
  font-size: 14px;
  margin-bottom: 20px;
  border: #ffffff none 1px;
}
.mail_form_input > .btn{
  color: white;
  background-color: #bc091e;
  border: #bc091e none 1px;
  margin-bottom: 15px;
}

.navbar-brand > img {
  height: 100%;
  width: auto;
}
#carousel-home img {
  width: 100%;
}


.dropbtn {
    background-color: rgb(254, 254, 254);
    color: rgb(102, 102, 102);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-bottom: 24px;

}
button.dropbtn:hover, button.dropbtn:active {
    background-color: rgb(254, 254, 254);
}
.dropdown {
    display: inline-block;
    top: 19px;
}

.navbar-logo a{
  padding-left: 30px;
  padding-top: 0;
  padding-bottom: 0;
  top: 10px;
  position: absolute;
}
.tools > .tools_icon{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 7px;
}
#gallery_button{
  background-color: #ffffff;
  border: #ffffff none 1px;
}
#gallery_iframe{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#gallery_carousel{
  padding: 0;
}
.gallery_property img{
  width: 100%;
  height: 100%;
}
.gallery_property:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.gallery_property{
  position: relative;
  overflow:hidden;
}
.gallery_property .btn_wrap {
  bottom: -40px;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: bottom 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;
}
.gallery_property:hover .btn_wrap{
    bottom: 40px;
}
.property_name {
  
  color: rgb(255, 255, 255);
  font-size: 16px;
  left: 0;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  top: -58px;
  width: 100%;
  overflow: hidden;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); 
}
.gallery_property:hover .property_name{
    top:40%;
    
}
.content_area.gallery1{
  padding: 20px 0;
}
.col-lg-4.gallery_content{
  padding-bottom: 20px;
}

.close-dis{
  backface-visibility: hidden;
    height: 700px;
    max-width: none;
    position: absolute;
    top: 0;
    width: 2157.16px;
    z-index: -1;
}
.open-dis {
    height: auto;
    vertical-align: middle;
    width: 15%;
    border: none;
}

#slides {
    position: relative;
}
.slides-container .overlay-wrapper {
    position: relative;
}
.section-gallery .thumbs .img-wrapper {
    width: 20%;
}

a, a:focus {
    outline: 0 none;
}
a.open-dis {
    background: #000 url("../img/open-dis.png") no-repeat scroll 10px center;
    color: #fff;
    left: 68%;
    opacity: 0.75;
    padding: 10px 10px 10px 40px;
    position: absolute;
    top: 0;
    z-index: 1001;
}
a.open-dis.active {
    background: #000 url("../img/imagedoc-darknoise.png") no-repeat scroll 10px center;
    color: #fff;
    left: 68%;
    opacity: 0.75;
    padding: 10px 10px 10px 40px;
    position: absolute;
    top: 0;
    z-index: 1001;
}
.overlay {
    background: rgba(0, 0, 0, 0.2) no-repeat scroll 10px center;
    color: #fff;
    left: 56%;
    padding: 10px 10px 10px 40px;
    position: absolute;
    top: 0;
    width: 44%;
    height: 900px;
    z-index: 1000;
}
.overlay .text {
    color: #fff;
    padding: 15.2% 0 0 10%;
    width: 500px;
}
.overlay .text h2 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.overlay .text p {
    color: #fff;
    font-size: 17px;
    line-height: 27px;
}
.section-gallery .gallery-title {
    color: #3d3d3d;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-gallery .thumbs .img-wrapper {
    border: 4px solid #ddd;
    float: left;
    position: relative;
    width: 20%;
}
.section-gallery .thumbs .img-inner {
    height: 0;
    overflow: hidden;
    padding-bottom: 57%;
}
.section-gallery .thumbs .img-inner > a > img {
    height: auto;
    transition: all 0.2s linear 0s;
    width: 100%;
}
.section-gallery .thumbs .img-inner .img-title {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
}
.row.filters .container {
    width: 1020px;
}
.section-gallery .filters {
    margin: 15px 0;
}
.section-gallery .filter-wrapper a:hover {
    background-color: #000;
}
a:hover, a:focus {
    text-decoration: none;
}
.section-gallery .thumbs .img-wrapper:hover a img{
  transform: scale(1.1, 1.1);
}
.section-gallery .thumbs .img-wrapper:hover .img-title{
  transform: translateY(-100px);
}

.section-about {
    color: #fff;
    max-height: 630px;
}
.section-about {
    color: #fff;
    overflow: hidden;
    position: relative;
}
.col-inner {
    overflow: visible;
}
.caption-wrapper {
    background: rgba(0, 0, 0, 0) url("../img/red-bg.png") repeat scroll 0 0;
    padding: 150px 0 200px 120px;
    position: relative;
}
.banner-caption {
    position: relative;
}
.banner-caption h2 {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.caption-wrapper p {
    color: #fff;
}
section p {
    color: #747474;
    font-size: 17px;
    line-height: 27px;
}
.section-about .pos-absolute {
    height: 100%;
    left: 0;
    top: 0;
    z-index: -999998;
}
.pos-absolute {
    position: absolute;
}
.stars-archive header {
    background: #ac1d2a none repeat scroll 0 0;
    color: #fff;
    padding: 50px 0;
    position: relative;
}
.pull-left h2 {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
}
.stars-archive-row {
    border-bottom: 1px solid #ccc;
    display: block;
    overflow: hidden;
}
.stars-archive-row > .container {
    width: 1020px;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.stars-archive-thumb.pull-right {
    float: none;
}
.stars-archive-thumb {
    overflow: hidden;
}
.stars-archive-thumb > img {
    height: auto;
    width: 100%;
}
.stars-archive-col {
    padding: 35px 0 30px;
}
.pull-left {
    float: left;
}
.stars-archive-text h3 {
    font-size: 28px;
    margin: 5px 0 2px;
    text-transform: uppercase;
}
.stars-archive-text p {
    line-height: 26px;
    margin: 22px 0;
    color: #747474;
    font-size: 17px;
}
.stars-archive-text .btn {
    margin-top: 5px;
}
.btn:last-child {
    margin-right: 0;
}
.stars-archive-text .btn {
    border: 1px solid #000;
    border-radius: 0;
    color: inherit;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-right: 7px;
    margin-top: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: background-color 0.5s ease 0s;
}
.section-omniart, .section-omniart p {
    color: #fff;
}
#omniyart > .container {
    width: 1020px;
}
.section-omniart h2 {
    font-size: 48px;
    padding: 20px 0;
}
.section-omniart p {
    margin: 18px 0;
}
.section-omniart {
    background-size: cover !important;
    padding: 70px 0 36px;
}
.about_banner{
  padding: 0;
}

.section-omniart {
    background: #060c19 url("../img/bg-omniart.jpg") no-repeat scroll center top;
    overflow: hidden;
}


.dropdown-content a {
    border-bottom: 1px solid #fff;
    color: #fff !important;
    display: block;
    padding: 15px 0 15px 0 !important;
    text-transform: uppercase;
    text-decoration: none;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0;
    padding: 0 0 20px;
    z-index: 1005;
}
.dropdown-content ul li{
  padding:0 30px 0;
  text-align: left;
  display: inline-block;
}
.dropdown-content ul{
  padding-left: 0;
  list-style: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#carousel_home img{
  width: 100%;
}
#subcrib_txt_one_mob {
    display: none;
}

.product_item_image{
  overflow: hidden;
}
.product_item_image img{
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.product_item_image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.nav-item {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-color: #ffffff;
    background-color: #ffffff !important;
}

/*-------------contact page-------------------*/
.contact {
    background: #bf1529;
}
.custom.col-md-7.col-sm-7 {
  padding: 0;
    width: 53.333%;
}
.custom.col-md-5.col-sm-5 {
  padding: 0;
  width: 46.667%;
}
.contact-right-col h2 {
    position: absolute;
    top: -225px;
    font-size: 44px;
}
.contact h2, .contact p {
    color: #fff;
}
.contact-right-col {
    padding: 80px 0 80px 115px;
    position: relative;
}
.contact .contact-image > img {
    display: block;
    width: 100%;
    height: auto;
}
.contact .contact-image {
    height: 568px;
    background-size: cover;
}
.contact-right-col p a {
    color: inherit;
    text-decoration: none;
}
.contact-right-col .btn {
    border: 2px solid #fff;
    font-size: 21px;
    width: 45%;
    padding: 10px;
    color: #fff;
}
.contact_pg span{
  padding: 0;
}
.map_g{
  overflow: hidden;
}
.map_g img{
  width: 100%;
  height: 100%;
}
/*---------------end of contact page---------------*/
/*-------------------project page-------------------*/
.list-projects {
    overflow: hidden;
}
.project-item {
    position: relative;
    overflow: hidden;
    display: block;
}
.project-item img {
    width: 100%;
    height: auto;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
}
.project-item:hover, .project-item:focus {
    color: #fff;
    text-decoration: none;
}
.project-item img:hover{
  transform: scale(1.1);
}
/*---------------end of project page---------------*/

.gallery-title{
  text-align: center;
  padding: 10px;
  font-size: 48px !important;
}
.section-gallery .filter-wrapper {
    text-align: center;
}
.section-gallery .filter-wrapper a {
    background-color: #fff;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    padding: 15px 25px;
    text-transform: uppercase;
    border-width: 0;
}
.section-gallery .filter-wrapper a:hover, .section-gallery .filter-wrapper a.active {
    background-color: #e74c3c;
    cursor: pointer;
    color: #fff;
}
.main_content_area.map_view {
    height: 600px;
    width:100%;
}
.main_content_area #map {
    height: 100%;
}
#mail_popup_body{
  text-align: center;
}


.slct_dd b {
    padding-right: 30px;
}
.slct_dd b .code {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding-right: 37px;
    background: #FFF;
    color: #333;
}
.slct_dd b .code::before {
    display: block;
    content: "";
    top: 50%;
    position: absolute;
    z-index: 1;
    right: 20px;
    width: 8px;
    height: 8px;
    margin-top: -6px;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .3s;
    -webkit-transition: all .3s;
}
.slct_dd li .code {
    display: inline;
    padding: 0;
    width: auto;
    min-width: 1px;
}

.inpt.slct.slct_dd.custom_click_event.phone_prefix b {
    display: block;
    font-weight: normal;
    padding: 0 0px 0 0px;
        padding-right: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    text-transform: none;
    position: relative;
    z-index: 1;
    padding-right: 102px;;
    line-height: 22px;
    color: #333;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-sizing: border-box;
    width: 100%;
}
.inpt.slct.slct_dd.custom_click_event.phone_prefix1 {
    position: relative;
    left: 44px;
    top: 32px;
}
.phone_wrap{
    width: 80% !important;
    left: 44px;
    position: relative;
    padding-bottom: 4px;
}
.phone_wrap .mCSB_draggerRail{
    display:none;
}
.form_input > div {

    width: 100%;
}
.inpt.slct.slct_dd.custom_click_event.phone_prefix {
    position: absolute;
    left: 0;
    top: 248px;
    padding: 9px 12px;
}
.form_input #phone{
    width: 77%;
    left: 23%;
    z-index: 1050;
}
.form_input #phone1{
    margin-top: -7px;
    padding: 10px;
    width: 61%;
    border: #fff none 1px;
    left: 116px;
    z-index: 1000;
}
.phone_wrap .input.tel{
        
}

.input.textarea.required {
    clear: both;
}
.mail_form_input1 #phone {
    width: 56%;
    left: 163px;
    z-index:1050;
}
.mail_form_input1 .inpt.slct.slct_dd.custom_click_event.phone_prefix {
    position: relative;
    left: -314px;
    top: 60px;
}
.contact_col{
    padding:0;
}
.phone_wrap .slct_dd b .code{
    top: -5px;
}
.phone_wrap .slct_dd.act .dd{
    margin-top: 4px;
}
.phone_prefix.slct_dd b .code{
    top: -5px;
}
.phone_prefix.slct_dd.act .dd{
    margin-top: 4px;
}