/*--------------------------------------Tablet view-------------------------------------------*/
@media (max-width: 768px) {

.dropdown {
    position: relative;
    display: inline-block;
    top: 13px;
}
.custom {
  padding-left: 0;
  padding-right: 0;
}
.dropbtn {
    background-color: rgb(254, 254, 254);
    color: rgb(102, 102, 102);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-bottom: 14px;
}
.dropdown-content {
  padding: 0 0 20px;
}
.navbar-menu ul li a {
    color: rgb(102, 102, 102);
    top: 0;
}
.form_input textarea {
    width: 76%;
    left: 0;
    float: none;
}
.form_input > .btn {
    clear: both;
    top: 130%;
    position: relative;
}
.form_input input {
    margin-top: 32px;
    padding: 10px;
    width: 76%;
    border: #fff none 1px;
    left: 0;
    float: none;
}
.detail_form {
    height: 820px;
}
.form_input #phone1 {
    margin-top: -6px;
    padding: 9px;
    width: 168px;
    border: #fff none 1px;
    left: 117px;
    z-index: 1000;
}
.phone_wrap{
    width: 76% !important;
    left: 12% !important;
}
.form_input #phone {
    width: 84%;
    left: 8%;
}
.phone_wrap1 #phone{
   width: 80%;
    float: right;
}
.inpt.slct.slct_dd.custom_click_event.phone_prefix {
    width:155px;
}
.inpt.slct.slct_dd.custom_click_event.phone_prefix {
    top: 42%;
}
.navbar-logo a {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    top: 0;
}
.mob_drop_menu {
    display: inline-block !important;
}
.mob_drop_toggle_btn {
    left: 88%;
    position: absolute;
    top: 25%;
}
.Square100{
    width:100% !important;
    height:100% !important;
}
.detail_banner{
    height:100% !important;
}
#navbar {
    display: none;
}
.navbar-nav {
    padding-left: 25px !important;
}
#heading-main {
    bottom: 6cm;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    left: 11%;
    position: absolute;
}
#heading-sub {
    bottom: 209px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    left: 21%;
    line-height: 0.768;
    position: absolute;
}
#explore {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 0;
    border-width: 2px;
    bottom: 165px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    left: 30%;
    padding: 8px 48px;
    position: absolute;
}
.container-second p {
    color: rgb(255, 252, 252);
    font-size: 27px;
    font-variant: small-caps;
    margin: 0;
    padding: 33px 0;
    text-align: center;
}
.container-third p {
    color: rgb(51, 51, 51);
    font-size: 27px;
    font-variant: small-caps;
    margin: 0;
    padding: 33px 0;
    text-align: center;
}
.container-fourth button{
    margin-bottom: 35px;
    margin-top: 33px;
}
.local-knowledge-head {
    color: rgb(102, 102, 102);
    font-size: 24px;
    line-height: 0.625;
    position: relative;
    right: 60px;
    text-align: right;
    top: 93px;
}
.local-knowledge {
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 1.25;
    position: relative;
    right: 60px;
    text-align: right;
    top: 107px;
}
#subcrib_img_two .subcribe_img_txt {
    color: rgb(255, 255, 255);
    font-size: 16px;
    left: 0;
    line-height: 1.167;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 9;
}
#subcrib_txt_one, #subcrib_img_one, #subcrib_img_two, #subcrib_submition{
    width: 50%;
}
#email {
    border-color: #bc091e;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    padding: 10px 0 10px 15px;
    text-align: left;
    width: 55%;
}
.email_input_area {
    padding-top: 28px;
}
#subcrib_btn_inner {
    width: 22%;
}
#subcrib_btn {
    padding-bottom: 20px;
    padding-top: 10px;
}
.promise {
    font-size: 10px;
    text-align: center;
}
.footer-section h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}
.footer_content_tab h5{
  margin-bottom: 35px;
}
footer p {
    color: #333;
    font-size: 12px;
    line-height: 1.42857;
}
.location_para > ul > li{
  font-size: 14px;
}
.project-list > ul > li{
  font-size: 14px;
}
#featured-property .featured_inner_text {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-variant: small-caps;
    left: 0;
    line-height: 1.167;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 9;
}
#properties-count {
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}
.icon_mob{
  padding-top: 5px;
}
#path{
  padding-left: 10px;
}
.actionsBottom ul {
    margin-bottom: 0;
    width: 92%;
}
.submit_form {
    margin-top: 6px;
}
.property_location_container {
    color: rgb(102, 102, 102);
    font-size: 25px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}
.similar_properties_container {
    color: rgb(102, 102, 102);
    font-size: 25px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

.caption-wrapper{
  display: block;
  padding: 30px;
  background: #ac1d2a none repeat scroll 0 0;
}
.post-image.wp-post-image{
  width: 100%;
  height: auto;
}
.section-about{
  height: auto;
}
.stars-archive.col-sm-5 {
    padding: 0;
}
.row.team_cover{
  margin-left: -15px;
  margin-right: -15px;
}
.stars-archive-row > .container{
  width: 100%;
}
.team_pic{
  padding-left: 0;
  padding-right: 0;
}
.stars-archive-col {
    padding: 20px;
}
.read-more.readMoreBtn.btn.pull-left:hover{
  background: #ac1d2a none repeat scroll 0 0;
  color: #fff;
}
#omniyart > .container {
    width: 100%;
}
.section-omniart {
    background: #060c19 url("../img/bg-omniart.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-caption{
  width: 100%;
  max-width: 100% !important;
}
.stars-archive header {
    background: #ac1d2a none repeat scroll 0 0;
    color: #fff;
    padding: 25px 0;
    position: relative;
}
.row.filters .container {
    width: 100%;
}
.section-gallery .thumbs .img-wrapper {
    width: 50% !important;
}
.team_pic{
  left: 0 !important;
}
#t1, #t2, #t3, #t4, #t5{
  left: 0 !important;
}
.description_heading > span > b > span {
    color: darkgrey;
}
.mail_form_input1 .inpt.slct.slct_dd.custom_click_event.phone_prefix {
    position: relative;
    left: -55.8%;
    top: 60px;
}
.mail_form_input1 #phone {
    width: 56%;
    left: 29%;
    z-index: 1050;
}
}


/*----------------------------------------------------------------------------------------------*/

/*------------------------------------------Mobile View-------------------------------------------*/

/* ------------------------- @media for  Nav bar, footer, listing and homepages -----------------*/

@media (max-width: 480px) {

.navbar-menu{
    display:none;
}
.navbar-brand > img {
  height: auto;
  width: 70%;
}
.Square100{
    width:100%;
    height:100%;
}
.detail_banner{
    height:100% !important;
}
.navbar-logo a {
    padding-right: 15px;
    padding-top: 15px;
}
.caro_nav{
  display: none;
}
.content_area{
    background-color: rgb(230, 233, 237);
}
#subcrib_txt_one, #subcrib_img_one, #subcrib_img_two, #subcrib_submition {
    width: 100%;
}
.mob_view_inner_features {
    padding: 30px;
}
#search-btn {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
}
.search_container {
    margin-right: 20px;
    margin-left: 20px;
}
.inpt {
    min-height: 0;
}
.banner_dropdown {
    padding-bottom: 14px;
    padding-top: 14px;
    width: 100%;
    margin-bottom: 5px;
}
#search-wrap {
    margin-top: -209px;
}
.carousel-caption {
    bottom: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#carousel_home{
  height: 400px;
}
#carousel_home img {
    width: auto;
    height: 400px;
    max-width: none;
}
.mob_drop_toggle_btn{
  left: 80%;
  position: absolute;
  top: 25%;
}
.footer-final-content, .footer-final-para{
  padding: 10px 15px;
}
#heading-main {
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    left: 0;
    position: relative;
}
#heading-sub {
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 12px;
    left: 0;
    line-height: 0.768;
    position: relative;
}
#explore {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-radius: 0;
    border-width: 2px;
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 12px;
    left: 0;
    padding: 8px 48px;
    position: relative;
}
.container-second p {
    color: rgb(255, 252, 252);
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}
#featured-property .featured_inner_text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: uppercase;
    left: 0;
    line-height: 1.167;
    position: absolute;
    text-align: center;
    top: 33%;
    width: 100%;
    z-index: 9;
    font-weight: bold;
}
.container-third p {
    color: rgb(51, 51, 51);
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}
#hot-listing{
  padding: 0;
}
.container-fourth{
    background-color: rgb(235, 235, 235);
}
.container-fourth button{
  margin: 25px 0;
}
.local-knowledge-head {
    color: rgb(102, 102, 102);
    font-size: 20px;
    line-height: 0.625;
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
    padding-bottom: 10px;
}
.local-knowledge {
    color: rgb(102, 102, 102);
    font-size: 12px;
    line-height: 1.25;
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
}
#subcrib_img_two .subcribe_img_txt {
    color: rgb(255, 255, 255);
    font-size: 16px;
    left: 0;
    line-height: 1.167;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
    z-index: 9;
}
#subcrib_txt_one {
    padding: 80px 47px 80px 0;
}
#subcrib_txt_one_mob {
    padding: 80px 47px 80px 0;
    display: inline-block !important;
    width: 100%;
}
.promise {
    font-size: 11px;
    text-align: center;
    padding: 0 20px 20px;
}
.email_input_area {
    padding-top: 30px;
}
#email {
    border-color: #bc091e;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    padding: 15px 0 15px 25px;
    text-align: left;
    width: 80%;
}
#subcrib_btn {
    padding-bottom: 20px;
    padding-top: 10px;
}
#subcrib_btn_inner {
    background-color: #bc091e;
    border-color: #bc091e;
    border-radius: 0;
    font-size: 14px;
    width: 50%;
}
.footer-section .footer_content_mob {
    width: 100%;
    text-align: center;
}

.footer-final-para p{
   color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: 2.2;
    text-align: center;
}
.social-icons {
   padding-top: 40px;
    text-align: center;
}
.footer-final p{
    color: #333;
    font-size: 12px;
    line-height: 2.42857;
}
.footer-copy-rights p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 40px;
    text-align: center;
    font-size: 12px;
}
.navbar {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    height: 81px;
    margin: 0;
}
#properties-count, .mob_hidden_icon{
  display: none;
}
.inpt b {
    font-size: 12px;
    font-weight: 200;
    color: rgb(102, 102, 102);
}
.inpt.slct.slct_dd.sort_dropdown {
    font-size: 12px;
    min-width: 0;
    width: 120px;
}
#tools_icon_mob{
  margin-left: 18px;
}
.icon_mob{
  padding-top: 7px;
}
.slct_dd li span, .slct_dd li a {
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    display: block;
    font-size: 12px;
    margin: 0;
    min-width: 100%;
    padding: 4px 12px 5px;
    width: 100%;
}
.path_bar{
  display: none;
}
#sidebar, #sidebar-main{
  display: none;
}
.container-fourth_listing{
    background-color: rgb(230, 233, 237);
    text-align: center;
    display: block !important;
}
.container-fourth_listing button{
  margin: 25px 0;
}
.subscribing {
    background-color: #fff;
}
.mob_list_view {
  padding: 0;
  background-color: rgb(230, 233, 237);
  display: block;
}
.mob_list_view_inner{
  border-top: 1px solid rgb(183, 183, 183);
  background-color: rgb(230, 233, 237);
}
.main_content_area {
    padding-top: 0;
}
.product_item {
    background-color: rgb(230, 233, 237);
    margin-bottom: 0;
    padding-top: 15px;
}
.btn.btn-default.content_contact_btn {
    background-color: rgb(230, 233, 237);
    border-color: #bc091e;
    color: #bc091e;
    padding: 8px 17px;
    text-transform: uppercase;
}
#toolbar {
    background-color: rgb(230, 233, 237);
    color: rgb(102, 102, 102);
    padding: 12px 0 10px;
    position: relative;
}
.sort_dropdown {
    background-color: rgb(230, 233, 237);
    border: 1px solid rgb(102, 102, 102);
    top: -2px;
}
.inpt.slct.slct_dd.sort_dropdown b::after {
    border-bottom: 2px solid rgb(102, 102, 102);
    border-right: 2px solid rgb(102, 102, 102);
    content: "";
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
    width: 8px;
    z-index: 1;
}
.inpt.slct.slct_dd.custom_click_event.phone_prefix .dd {
    background-color: #fff;
}
.slct_dd .dd {
    background-color: rgb(230, 233, 237);
    cursor: default;
    font-weight: normal;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 37px;
    transition: opacity 0.3s ease 0s;
    visibility: hidden;
    width: 100%;
    z-index: 200;
}
.inpt.slct.slct_dd.sort_dropdown > .dd {
    border-color: rgb(102, 102, 102);
}
.icon_mob img{
   -webkit-filter: invert(50%);
   filter: invert(50%)
}
.hide_toggle{
  display: none;
}
#mob_filter_toggle{
  left: 60%;
  position: absolute;
  top: 25%;
  display: block !important;
}
#sidebar{
   background-color: rgb(235, 235, 235);
}
}

/* --------------------------------end of media--------------------------- */

/* -------------------------------- @media for Detail page --------------------------- */

@media (max-width: 480px) {

.actionsBottom, .property_description, .form_heading, .property_location_container, .detail_map_container, .similar_properties_container, .content_area_detail{
  display: none;
}
.submit_form {
    margin-top: 0;
    padding: 0;
}
.mob_view_detail{
  display: block !important;
}
.mob_view_inner_detail{
  background-color: rgb(51, 51, 51);
  color: #fff;
}

.description_heading_mob {
    font-size: 16px;
    font-weight: bold;
    padding: 25px 15px 15px;
}
.description_sub_heading_mob {
    font-size: 16px;
    padding: 15px;
}
.tbl.tbl_description_mob{
  padding: 15px;
  font-size: 16px;
}
.make_an_offer_btn{
  width: 90%;
  border: 1px solid #bc091e;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #bc091e;
}
.arrange_viewing_btn{
  width: 90%;
  border: 1px solid #bc091e;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgb(51, 51, 51);
}
.mob_detail_btn1{
  text-align: center;
  padding: 30px 0 10px 0;
}
.mob_detail_btn2{
  text-align: center;
  padding: 10px 0 50px 0;
}
.features_section{
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px 10px 10px 15px;
}
.mob_view_inner_features ul{
  font-size: 16px;
  padding: 0 10px 15px 30px;
  text-transform: capitalize;
  line-height: 1.55; 
}
}
/*------------------------------------------- about page-------------------------------*/
@media (max-width: 480px) {

.caption-wrapper{
  display: block;
  padding: 30px;
  background: #ac1d2a none repeat scroll 0 0;
}
.post-image.wp-post-image{
  width: 100%;
  height: auto;
}
.section-about{
  height: auto;
}
.stars-archive.col-sm-5 {
    padding: 0;
}
.row.team_cover{
  margin-left: -15px;
  margin-right: -15px;
}
.stars-archive-row > .container{
  width: 100%;
}
.team_pic{
  padding-left: 0;
  padding-right: 0;
}
.stars-archive-col {
    padding: 20px;
}
.read-more.readMoreBtn.btn.pull-left:hover{
  background: #ac1d2a none repeat scroll 0 0;
  color: #fff;
}
#omniyart > .container {
    width: 100%;
}
.section-omniart {
    background: #060c19 url("../img/bg-omniart.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.form_input #phone {
    width: 72%;
    left: 14%;
}
.detail_form {
    padding-bottom: 80px;
    height: 770px;
}
.submit_form {
    border-bottom-width: 1px;
    border-bottom-color: #ccced1;
    border-bottom-style: solid;
}
}
/* --------------------------------end of media--------------------------- */
/*----------------------------------gallery page--------------------------*/
@media (max-width: 480px) {

.row.filters .container {
    width: 100%;
}
.hero {
    height: 250px;
    width: 100%;
}
#slides{
  height: 250px;
    overflow: hidden;
    position: relative;
    width: 100%
}
#main-main-penthouse-living-2{
  display: block;
    height: 100%;
    left: 360px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 360px;
    z-index: 2;
}
#main-main-penthouse-living-2 img{
backface-visibility: hidden;
    height: 250px;
    left: -51.5835px;
    max-width: none;
    position: absolute;
    top: 0;
    width: 463.16px;
    z-index: -1;
}

.slides-control{
  display: block;
 height: 100%;
    left: -360px;
    position: relative;
    transition-duration: 0s;
    transition-property: all;
    transition-timing-function: ease;
    width: 360px;
}
.section-gallery .thumbs .img-wrapper {
    width: 100% !important;
}
.open-dis{
  height: auto;
    vertical-align: middle;
    width: 100%;
    left:0 !important;
}
.close-dis {
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.slides-container .overlay-wrapper a.open-dis {
    background: #000 url("../img/open-dis.png") no-repeat scroll 10px center;
    color: #fff;
    left: 48%;
    opacity: 0.75;
    padding: 10px 10px 10px 40px;
    position: absolute;
    top: 0;
}
.overlay {
    left: 0;
    width: 100%;
}
.overlay .text {
    color: #fff;
    padding: 15.2% 0 0 0;
    width: 100%;
}
}
/*-------------contact page-------------------*/
@media (max-width: 480px) {
    
.custom.col-md-7.col-sm-7 {
  padding: 0;
    width: 100%;
}
.custom.col-md-5.col-sm-5 {
  padding: 0;
  width: 100%;
  height: 880px;
}
.custom.col-md-5.col-sm-5 .contact-right-col h2{
  text-align: center;    
}
.contact_content_para{
    padding: 30px;
    top: 310px;
    position: relative;
}
.contact-right-col h2 {
    position: relative;
    font-size: 34px;
    top: 35px;
    text-align: center;
}
.contact_pg {
    height: 900px;
}
.contact-right-col {
    padding: 0;
    position: relative;
    width: 100%;
}
.contact .contact-image > img {
    display: block;
    width: 100%;
    height: auto;
}
.contact_content_para h3{
    font-size: 20px;    
}
.contact_content_para p{
    font-size: 14px;    
}
.contact .contact-image {
    height: 0;
    background-size: cover;
}
.contact-right-col .btn {
    border: 2px solid #fff;
    font-size: 16px;
    width: 50%;
    padding: 10px;
    color: #fff;
}
.mail_form_input1 input {
    color: rgb(102, 102, 102);
    padding: 10px;
    width: 70%;
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: none;
    border: #ffffff none 1px;
    left: 15%;
}
.mail_form_input1 textarea {
    text-decoration: none;
    overflow: hidden;
    width: 70%;
    font-style: italic;
    resize: none;
    color: rgb(153, 153, 153);
    padding: 10px;
    min-height: 150px;
    font-size: 14px;
    margin-bottom: 20px;
    border: #ffffff none 1px;
    left: 15%;
    clear: both;
}
.mail_form_input1 .textarea{
    clear: both;
}
.mail_form_input1 .inpt.slct.slct_dd.custom_click_event.phone_prefix {
    position: relative;
    left: 15%;
    top: 0;
}
.mail_form_input1 #phone {
    width: 44%;
    left: -14%;
    z-index:1050;
}
.mail_form_input1 > .btn {
    left: 39%;
}
.detail_terms1 {
    position: absolute;
    left: 19%;
    top: 89%;
}
}
/*---------------end of contact page---------------*/
/* --------------------------------end of media--------------------------- */
#slides{
  position: relative;
  overflow: hidden; 
  width: 100%; 
  height: 700px;
}




.mob_view_detail{
  display: none;
}
footer p{
    color: #333;
    font-size: 14px;
    line-height: 1.42857;
}
.container-fourth_listing{
  display: none;
}
.container-fourth_listing button{
  font-variant: small-caps;
  border-radius: 0;
  padding: 10px 30px;
  background-color: #bc091e;
  border-color: #bc091e;  
}
#mob_filter_toggle{
  border: none;
  background-color: rgb(255, 255, 255);
}

#mob_filter_toggle i{
  color: rgb(51, 51, 51);
  font-size: 22px;
}


.mob_drop_toggle_btn{
  border: none;
  background-color: rgb(255, 255, 255);
}

.mob_drop_toggle_btn i{
  color: rgb(51, 51, 51);
  font-size: 22px;
}


.inner-dropdown-menu{
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.dropbtn_mob{
  border: none;
  background-color: #fff;
}

#property_drop, #about_drop{
  display: none;
}
.mob_drop_menu{
  display: none;
}

li.nav-menu-mob:hover, li.nav-menu-mob:active {
    background-color: #fff;
    cursor: pointer;
    
}
li.nav-menu-mob:hover a{
  color: #bc091e;
}

.mob_drop_menu1 ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.mob_drop_menu1 ul li a{
  color: rgba(0, 0, 0, 0.4);
} 

.mob_drop_menu1{
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  z-index: 1020;
}

@media (max-width: 1150px) {
.submit_form {
    margin-top: 6px;
}
.banner-caption {
    max-width: 100%;
    width: 100%;
}
.team_pic{
  left: -100px;
}
#t1, #t2, #t3, #t4, #t5{
  left: -100px;
}
#omniyart > .container {
    width: 100%;
}
.post-image.wp-post-image {
    height: auto;
    width: 100%;
}
.banner-caption {
    max-width: 100% !important;
    width: 100%;
}
.caption-wrapper {
    background: #ac1d2a none repeat scroll 0 0;
    display: block;
    padding: 30px;
}
.stars-archive header {
  padding: 30px 0;
}
.section-gallery > .row.filters > .container{
  width: 100%;
}
.section-gallery .thumbs .img-wrapper{
  width: 25%;
}
.navbar-nav {
    float: left;
    margin: 0;
    padding-left: 140px;
}
}